.register {
    width: 100%;
    height: fit-content;

    margin: 0;
    padding: 0;
}

.register__container {
    width: 80%;
    height: 100%;

    margin: auto;
    padding: 100px 0;

    display: flex;
    flex-direction: column; 
}

.register__input {
    margin: 0 auto 25px 0;
    width: 100%;
    padding: 15px;

    font-size: 1rem;
    letter-spacing: 2px;

    border-radius: 25px;
    background-color: transparent;
    border: 3px solid transparent;
    color: #150811;

    box-shadow: rgba(235, 160, 113, 0.25) 0px 25px 20px -20px;


    transition: 500ms;
}

.register__input:hover {
    box-shadow: rgba(235, 160, 113, 1) 0px 20px 30px -10px;
}

.register__text:not(h1){
    margin-top: 15px;
}

.register__button {
    margin: auto;
    width: 100%;
    padding: 25px;

    font-size: 1rem;
    letter-spacing: 2px;

    border-radius: 25px;
    background-color: #EBA071;
    border: 3px solid #EBA071;
    color: #150811;

    transition: 500ms;
}

.register__button:hover {
    border: 3px solid #FDF9F3;
    color: #FDF9F3;
}

.register__noAccountContainer {
    width: 100%;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.register__registerAccount {
    margin: 5px auto 5px 5px;
    /* width: 50%; */
    padding: 15px;

    font-size: 1rem;
    letter-spacing: 2px;

    border-radius: 25px;
    background-color: transparent;
    border: 3px solid transparent;
    color: #150811;

    box-shadow: rgba(235, 160, 113, 0.25) 0px 25px 20px -20px;

    transition: 500ms;
}

.register__registerAccount:hover {
    background-color: #EBA071;
    border: 3px solid #EBA071;
}


/* Media query for TABLETS */
@media only screen 
and (min-width: 600px)
and (max-width: 1023px) {

}


/* Media query for LAPTOPS AND SCREENS */
@media only screen 
and (min-width: 1024px) {
    .register__input {
        margin: 0 auto 25px 0;
        width: 50%;
        padding: 15px;
    
        font-size: 1rem;
        letter-spacing: 2px;
    
        border-radius: 25px;
        background-color: transparent;
        border: 3px solid transparent;
        color: #150811;
    
        box-shadow: rgba(235, 160, 113, 0.25) 0px 25px 20px -20px;
    
    
        transition: 500ms;
    }
    
    .register__input:hover {
        box-shadow: rgba(235, 160, 113, 1) 0px 20px 30px -10px;
    }
    
    .register__text:not(h1){
        margin-top: 15px;
    }
    
    .register__button {
        margin: auto 0 0 0;
        width: 50%;
        padding: 25px;
    
        font-size: 1rem;
        letter-spacing: 2px;
    
        border-radius: 25px;
        background-color: #EBA071;
        border: 3px solid #EBA071;
        color: #150811;
    
        transition: 500ms;
    }
    
    .register__button:hover {
        border: 3px solid #FDF9F3;
        color: #FDF9F3;
    }
    
    .register__noAccountContainer {
        width: 50%;
        display: flex;
        flex-direction: row;
    
        justify-content: center;
        align-items: center;
    }
    
    .register__registerAccount {
        margin: 5px auto 5px 5px;
        /* width: 50%; */
        padding: 15px;
    
        font-size: 1rem;
        letter-spacing: 2px;
    
        border-radius: 25px;
        background-color: transparent;
        border: 3px solid transparent;
        color: #150811;
    
        box-shadow: rgba(235, 160, 113, 0.25) 0px 25px 20px -20px;
    
        transition: 500ms;
    }
    
    .register__registerAccount:hover {
        background-color: #EBA071;
        border: 3px solid #EBA071;
    }
}